.advantages {
  position: relative;
  padding-top: 43px;
  margin-bottom: 58px;

  &:before {
    .pseudo();
    height: 6px;
    left: 0;
    right: 0;
    top: 6px;
    background: url("../../img/zigzag-line-desktop.svg") repeat-x;
  }
}

.advantages__wrapper {
  @media (min-width: @tablet-width) {
    max-width: 925px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: @desktop-width;
  }
}

.advantages__list {
  .list-reset();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"2 / 6";
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 28px;
  .font(@title-black, 25px, 30px, 700);

  @media (min-width: @desktop-width) {
    grid-column: ~"2 / 6";
  }
}

.advantages__item {
  position: relative;
  margin-bottom: 29px;
  padding-top: 54px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    .pseudo();
    top: 0;
    left: 0;
    width: 50px;
    height: 40px;
    background-color: @accent;
  }

  @media (min-width: @tablet-width) {
    padding-right: 20px;
  }
}


.advantages__description {
  margin: 0;
  .font(@title-black, 17px, 20px, 700);
}
