.button {
  display: block;
  text-align: center;
  .font(@basic-grey, 18px, 20px, 700);
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid @basic-grey;
  padding-top: 13px;
  padding-bottom: 15px;

  &:hover,
  &:focus {
    color: @button-hover;
    background-color: @basic-grey;
  }

  &:active {
    color: @white-30;
    background-color: @basic-grey;
  }
}
