.catalog {
  margin-bottom: 31px;

  @media @tablet {
    margin-bottom: 55px;
  }

  @media @desktop {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog__item {
  margin-bottom: 29px;

  &:last-child {
    margin-bottom: 0;
  }

  @media @tablet {
    margin-bottom: 54px;
  }

  @media @desktop {
    margin-bottom: 0;
    margin-right: 51px;
  }
}

.catalog__item:nth-of-type(3n) {
  @media @desktop {
    margin-right: 0;
  }
}
