.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.catalog__item {
  @media (min-width: @desktop-width) {
    margin-right: 51px;
  }
}

.catalog__item:nth-of-type(3n) {
  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}
