.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  margin: 0;
  .font(@title-black, 19px, 18px, 700);
}

.copyright__logo {
  margin-left: 27px;
}
