.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  margin: 0;
  .font(@title-black, 19px, 18px, 700);
}

.copyright__link {
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    margin-left: 26px;
  }
}

.copyright__link {
  &:hover path {
    fill: @accent-dark-hover;
  }

  &:active path {
    fill: fade(@accent-dark-hover, 30%);
  }
}
