.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: baseline;
  }

  @media (min-width: @desktop-width) {
    margin-left: 62px;
  }
}

// RADIO

.form__fieldset--radio  {

  & .form__legend {
    margin-bottom: 29px;
  }

  & .form__item {
    margin-bottom: 10px;
  }

  & .form__label {
    position: relative;
    min-height: 42px;
    padding: 6px 0 0 60px;
  }

  & .form__label--oneline {
    padding-top: 12px;
  }

  & .form__label:before {
    .pseudo();
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid @basic-grey;
  }

  & .form__label:hover:before {
    border-color: @accent-input;
  }

  & .form__label:active:before {
    border-color: @black-30;
  }

  & .form__input:checked + .form__label:after {
    .pseudo();
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: @accent-input;
  }
}



.form__fieldset--customer-phone,
.form__fieldset--customer-email,
.form__fieldset--textarea {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.form__background-fieldset {
  @media (min-width: @tablet-width) {
    background-color: @bg-grey;
  }
}

.form__wrapper {
  @media (min-width: @desktop-width) {
    padding-right: 225px;
  }
}

.form__legend {
  .font(@accent, 17px, 16px, 700);
  text-transform: uppercase;
  margin: 0;

  @media (min-width: @tablet-width) {
    flex-basis: 167px;
    flex-shrink: 0;
  }

  @media (min-width: @desktop-width) {
    flex-basis: 113px;
    flex-shrink: 0;
  }
}

.form__label {
  .font(@form-black, 17px, 18px, 700);
  display: block;
  cursor: pointer;
  user-select: none;
}

.form__list {
  .list-reset();
}

.form__list--checkbox {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 500px;
  }

  @media (min-width: @desktop-width) {
    flex-basis: 750px;
  }
}

.form__list--text {
  @media (min-width: @tablet-width) {
    flex-grow: 1;
  }
}

.form__item--checkbox {
  @media (min-width: @tablet-width) {
    flex-basis: 235px;
  }
}

.form__item--text {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.form__input--text {
  border: none;
  background-color: transparent;
  box-shadow: inset 0 -2px 0 @form-black;
  .font(@basic-grey, 17px, 18px, 400);

  &::placeholder {
    color: @black-30;
  }

  &:hover {
    box-shadow: inset 0 -2px 0 @accent-input;
  }

  &:focus {
    box-shadow: inset 0 -2px 0 @accent-input;
    outline: 0;
  }

  @media (min-width: @tablet-width) {
    flex-grow: 1;
  }
}

.form__input--textarea {
  border: 2px solid @basic-grey;
  .font(@basic-grey, 17px, 18px, 400);
  font-family: "Open Sans", "Arial", sans-serif;

  &::placeholder {
    color: @black-30;
  }

  &:hover {
    border-color: @accent-input;
  }

  &:focus {
    border-color: @accent-input;
    outline: 0;
  }

  @media (min-width: @tablet-width) {
    flex-grow: 1;
    height: 142px;
  }
}

.form__submit {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding-left: 175px;
  }
}

.form__disclaimer {
  .font(@basic-grey, 14px, 16px, 400);
}

.form__submit-button {
  .font(@basic-grey, 17px, 16px, 700);
  font-family: "Open Sans", "Arial", sans-serif;
  align-self: center;

  @media (min-width: @tablet-width) {
    order: 2;
  }
}
