.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;

  @media @tablet {
    display: flex;
    align-items: baseline;
  }

  @media @desktop {
    margin-left: 62px;
  }
}

.form__background-fieldset {
  @media @tablet {
    background-color: @bg-grey;
  }
}

.form__legend {
  .font(@accent, 17px, 16px, 700);
  text-transform: uppercase;
  margin: 0;

  @media @mobile {
    position: relative;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      height: 1px;
      flex-grow: 1;
      flex-shrink: 0;
      background: @accent;
      margin-left: 18px;
    }
  }

  @media @tablet {
    flex-basis: 167px;
    flex-shrink: 0;
  }

  @media @desktop {
    flex-basis: 113px;
    flex-shrink: 0;
  }
}

.form__label {
  .font(@form-black, 17px, 18px, 700);
  display: block;
  cursor: pointer;
  user-select: none;

  @media @tablet {
    font-size: 19px;
  }
}

.form__list {
  .list-reset();
}

// RADIO

.form__fieldset--radio {
  margin-bottom: 22px;

  @media @tablet {
    margin-bottom: 27px;
  }

  .form__legend {
    margin-bottom: 29px;
  }

  .form__item {
    margin-bottom: 10px;

    @media @tablet {
      margin-bottom: 23px;
    }
  }

  .form__label {
    position: relative;
    min-height: 42px;
    padding: 6px 0 0 60px;

    @media @tablet {
      padding: 18px 0 17px 80px;
    }
  }

  .form__label--oneline {
    padding-top: 12px;

    @media @tablet {
      padding-top: 18px;
    }
  }

  .form__label::before {
    .pseudo();
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid @basic-grey;

    @media @tablet {
      width: 50px;
      height: 50px;
      top: 3px;
      left: 3px;
    }
  }

  .form__label:hover::before {
    border-color: @accent-input;
  }

  .form__label:active::before {
    border-color: @black-30;
  }

  .form__input:checked + .form__label::after {
    .pseudo();
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: @accent-input;

    @media @tablet {
      width: 20px;
      height: 20px;
      top: 18px;
      left: 18px;
    }
  }

  .form__input:focus + label::before {
    outline: 2px auto @accent-input;
  }
}

// CHECKBOX

.form__background-fieldset--checkbox {
  @media @tablet {
    padding-top: 50px;
    padding-bottom: 15px;
    margin-bottom: 62px;
  }

  @media @desktop {
    padding-bottom: 14px;
  }
}

.form__fieldset--checkbox {
  margin-bottom: 11px;

  .form__list {
    @media @tablet {
      display: flex;
      flex-wrap: wrap;
      flex-basis: 500px;
    }

    @media @desktop {
      flex-basis: 830px;
    }
  }

  .form__legend {
    margin-bottom: 24px;
  }

  .form__item {
    margin-bottom: 23px;

    @media @tablet {
      margin-bottom: 28px;

      &:nth-child(odd) {
        flex-basis: 262px;
      }
    }

    @media @desktop {
      flex-basis: 264px;
    }
  }

  .form__label {
    position: relative;
    min-height: 38px;
    padding: 10px 0 10px 60px;

    @media @tablet {
      padding: 16px 0 14px 81px;
    }
  }

  .form__label::before {
    .pseudo();
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    border: 2px solid @basic-grey;

    @media @tablet {
      width: 52px;
      height: 52px;
    }

    @media @tablet {
      top: -3px;
    }
  }

  .form__label:hover::before {
    border-color: @accent-input;
  }

  .form__label:active::before {
    border-color: fade(@basic-grey, 30%);
  }

  .form__input:checked + .form__label::after {
    .pseudo();
    top: 9px;
    left: 8px;
    width: 23px;
    height: 13px;
    border: 2px solid @elem-black;
    transform: rotate(-45deg);
    border-top: none;
    border-right: none;

    @media @tablet {
      top: 15px;
      left: 12px;
      width: 30px;
      height: 15px;
    }

    @media @desktop {
      top: 12px;
    }
  }

  .form__input:focus + label::before {
    outline: 2px auto @accent-input;
  }
}

// TEXT

.form__fieldset--text {
  margin-bottom: 10px;

  @media @tablet {
    margin-bottom: 14px;
  }

  @media @desktop {
    margin-right: 175px;
  }

  .form__legend {
    margin-bottom: 30px;
  }

  .form__list {
    @media @tablet {
      flex-grow: 1;
    }
  }

  .form__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    @media @tablet {
      flex-direction: row;
      align-items: baseline;
      margin-bottom: 36px;
    }
  }

  .form__label {
    margin-bottom: 16px;

    @media @tablet {
      margin-right: 25px;
      margin-bottom: 0;
    }
  }

  .form__input {
    padding-bottom: 15px;
    padding-left: 0;

    @media @tablet {
      padding: 0 0 14px 17px;
    }
  }
}

.form__input--text {
  border: none;
  background-color: transparent;
  box-shadow: inset 0 -2px 0 @form-black;
  .font(@basic-grey, 17px, 18px, 400);

  @media @tablet {
    font-size: 19px;
  }

  &::placeholder {
    color: @black-30;
  }

  &:hover {
    box-shadow: inset 0 -2px 0 @accent-input;
  }

  &:focus {
    box-shadow: inset 0 -2px 0 @accent-input;
    outline: 0;
  }

  @media @tablet {
    flex-grow: 1;
  }
}

// CONTACTS

.form__fieldset--contacts {
  margin: 0;
  padding: 0;
  border: 0;
}

.form__background-fieldset--contacts {
  @media @tablet {
    padding-top: 60px;
    padding-bottom: 48px;
    margin-bottom: 50px;
  }
}

// PHONE

.form__fieldset--phone {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;

  @media @tablet {
    flex-direction: row;
    align-items: baseline;
  }

  @media @desktop {
    margin-right: 175px;
  }

  .form__legend {
    margin-bottom: 19px;
  }

  .form__input-wrapper {
    position: relative;

    @media @tablet {
      flex-grow: 1;
    }
  }

  .form__input--phone {
    width: 100%;
    padding-bottom: 18px;
    padding-left: 0;

    @media @tablet {
      padding-bottom: 15px;
      padding-left: 17px;
    }
  }

  .form__input-icon--phone {
    position: absolute;
    top: -5px;
    right: 7px;

    @media @tablet {
      top: 1px;
      right: 27px;
    }

    @media @desktop {
      right: 8px;
    }
  }
}

// EMAIL


.form__fieldset--email {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;

  @media @tablet {
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 0;
  }

  @media @desktop {
    margin-right: 175px;
  }

  .form__legend {
    margin-bottom: 19px;
  }

  .form__input-wrapper {
    position: relative;

    @media @tablet {
      flex-grow: 1;
    }
  }

  .form__input--email {
    width: 100%;
    padding-bottom: 18px;
    padding-left: 0;

    @media @tablet {
      padding-bottom: 13px;
      padding-left: 17px;
    }
  }

  .form__input-icon--mail {
    position: absolute;
    top: -5px;
    right: 7px;

    @media @tablet {
      top: 4px;
      right: 22px;
    }

    @media @desktop {
      right: 8px;
    }
  }
}

// ICONS

.form__input-icon {
  fill: @elem-black;
  opacity: 0.2;
}

.form__input:hover + .form__input-icon,
.form__input:focus + .form__input-icon {
  fill: @accent-input;
  opacity: 1;
}

// TEXTAREA

.form__fieldset--textarea {
  display: flex;
  flex-direction: column;

  @media @tablet {
    flex-direction: row;
    margin-bottom: 36px;
  }

  @media @desktop {
    margin-right: 175px;
    margin-bottom: 32px;
  }

  .form__legend {
    margin-bottom: 20px;
  }
}

.form__input--textarea {
  min-height: 142px;
  padding: 15px;
  margin-bottom: 17px;
  border: 2px solid @basic-grey;
  .font(@basic-grey, 17px, 18px, 400);
  font-family: "Open Sans", "Arial", sans-serif;

  &::placeholder {
    color: @black-30;
  }

  &:hover {
    border-color: @accent-input;
  }

  &:focus {
    border-color: @accent-input;
    outline: 0;
  }

  @media @tablet {
    font-size: 19px;
    flex-grow: 1;
  }
}

// SUBMIT

.form__submit {
  display: flex;
  flex-direction: column;

  @media @tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media @desktop {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.form__disclaimer {
  margin: 0;
  margin-bottom: 30px;
  .font(@basic-grey, 14px, 16px, 400);

  @media @tablet {
    .size-line(17px, 30px);
    margin-top: 12px;
    margin-bottom: 0;
    order: 2;
  }
}

.form__submit-button {
  .font(@basic-grey, 17px, 16px, 700);
  font-family: "Open Sans", "Arial", sans-serif;
  padding-top: 18px;

  @media @tablet {
    padding: 16px 30px;
  }
}
