.form__fieldset {
  border: none;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: baseline;
  }
}

// .form__wrapper {

//   @media (min-width: @tablet-width) {
//     display: flex;
//     align-items: baseline;
//   }
// }

// .form__fieldset--radio {
//   background: red;
// }

.form__fieldset--customer-phone,
.form__fieldset--customer-email,
.form__fieldset--textarea {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}



.form__legend {
  .font(@accent, 17px, 16px, 700);
  text-transform: uppercase;
  margin: 0;

  @media (min-width: @tablet-width) {
    flex-basis: 167px;
    flex-shrink: 0;
  }
}

.form__label {
  .font(@form-black, 17px, 18px, 700);
}

.form__list {
  .list-reset();
}

.form__list--checkbox {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 500px;
  }
  @media (min-width: @desktop-width) {
    flex-basis: 750px;
  }
}

.form__list--text {
  @media (min-width: @tablet-width) {
    flex-grow: 1;
  }
}

.form__item--checkbox {
  @media (min-width: @tablet-width) {
    flex-basis: 235px;
  }
}

.form__item--text {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.form__input--text {
  border: none;
  box-shadow: inset 0 -2px 0 @form-black;
  .font(@basic-grey, 17px, 18px, 400);

  &::placeholder {
    color: @black-30;
  }

  &:hover {
    box-shadow: inset 0 -2px 0 @accent-input;
  }

  &:focus {
    box-shadow: inset 0 -2px 0 @accent-input;
    outline: 0;
  }

  @media (min-width: @tablet-width) {
    flex-grow: 1;
  }
}

.form__input--textarea {
  border: 2px solid @basic-grey;
  .font(@basic-grey, 17px, 18px, 400);
  font-family: "Open Sans", "Arial", sans-serif;

  &::placeholder {
    color: @black-30;
  }

  &:hover {
    border-color: @accent-input;
  }

  &:focus {
    border-color: @accent-input;
    outline: 0;
  }

  @media (min-width: @tablet-width) {
    flex-grow: 1;
    height: 142px;
  }
}

.form__disclaimer {
  .font(@basic-grey, 14px, 16px, 400);
}

.form__submit {
  .font(@basic-grey, 17px, 16px, 700);
  font-family: "Open Sans", "Arial", sans-serif;
}
