.good {
  @media @tablet {
    display: flex;
    min-width: 668px;
  }
}

.good__picture-link {
  display: block;
  min-width: 260px;
  min-height: 195px;
}

.good__picture {
  background-color: @bg-grey;
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;

  @media @tablet {
    width: 334px;
    height: 334px;
  }

  @media @desktop {
    width: 316px;
    height: 462px;
  }
}

.good__description {
  padding: 25px 0 26px 27px;
  border: 1px solid @menu-shadow;

  @media @tablet {
    padding: 27px 0 26px 32px;
    display: flex;
    flex-direction: column;
    min-width: 334px;
    flex-grow: 1;
  }
}

.good__title {
  margin: 0;
  margin-bottom: 5px;
}

.good__title-link {
  .font-size(17px, 24px, 700);
  .text-link();

  @media @tablet {
    font-size: 20px;
  }
}

.good__info {
  margin: 0;
  margin-bottom: 18px;
  .font(@basic-grey, 13px, 30px, 400);

  @media @tablet {
    font-size: 15px;
  }
}

.good__price {
  margin: 0;
  .font(@catalog-black, 15px, 24px, 700);

  @media @tablet {
    font-size: 17px;
  }
}

.good__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
  margin-right: 28px;
  border-top: 1px solid @menu-shadow;

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1) {
    margin-top: auto;
  }
}

.good__cart-icon {
  fill-opacity: 0.2;

  &:hover {
    fill-opacity: 1;
    fill: @accent;
  }

  &:active {
    fill: fade(@accent, 30%)
  }
}
