.main-nav {
  position: relative;
  min-height: 81px;

  @media (min-width: @tablet-width) {
    background: linear-gradient(to bottom, white 67%, @bg-grey-light 67%)
  }
}


.main-nav::before {
  @media (min-width: @tablet-width) {
    .pseudo();
    height: 1px;
    left: 0;
    right: 0;
    top: 88px;
    background-color: fade(@elem-black, 10%);
  }
}

.main-nav__wrapper {
  background-color: @bg-menu;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    background: transparent;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
    margin: 0 auto;
  }
}

.main-nav__logo {
  display: block;
  text-align: center;
  padding: 21px 30px;
  box-shadow: 0 1px 0 @menu-shadow, inset 0 1px 0 @menu-shadow;

  @media (min-width: @tablet-width) {
    flex-basis: 114px;
    order: 1;
    box-shadow: none;
    padding: 0 0 0 50px;
    align-self: center;
  }

  @media (min-width: @desktop-width) {
    order: 2;
    padding-left: 0;
    margin-right: 26px;
    margin-top: 2px;
  }
}

.main-nav__picture {
  @media (min-width: @tablet-width) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: @desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.main-nav__toggle {
  position: absolute;
  right: 30px;
  top: 32px;
  z-index: 3;
  display: block;
  width: 20px;
  height: 14px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  .pseudo();
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: @elem-black;
  box-shadow: 0 6px 0 0 @elem-black, 0 12px 0 0 @elem-black;
}

.main-nav--opened .main-nav__toggle {
  width: 21px;
  height: 20px;

  &::before,
  &::after {
    .pseudo();
    top: 9px;
    left: -1px;
    width: 23px;
    height: 2px;
    background-color: @elem-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .site-list,
  .main-nav--closed .user-list {
    display: none;
  }

  .main-nav--opened .site-list,
  .main-nav--opened .user-list {
    display: block;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .site-list,
  .main-nav--nojs .user-list {
    display: block;
  }
}

.main-nav__side-info {
  .font(@basic-grey, 15px, 24px, 400);
  margin: 0;
  display: none;

  @media (min-width: @tablet-width) {
    order: 5;
    display: block;
    padding-right: 50px;
    padding-top: 20px;
  }
}
