.page-footer {
  background-color: @bg-grey;
}

.page-footer__wrapper {
  padding-top: 26px;
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 44px;
    padding-bottom: 51px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.page-footer__social {
  padding-bottom: 27px;
  margin-bottom: 10px;
  border-bottom: 1px solid @border-grey;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}
