.page-footer {
  background-color: @bg-grey;
}

.page-footer__wrapper {
  margin-top: 25px;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
