.page-footer {
  background-color: @bg-grey;
}

.page-footer__wrapper {
  padding-top: 26px;
  padding-bottom: 30px;
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.page-footer__social {
  margin-bottom: 38px;
}
