.products__title {
  margin: 0;
  .font(@title-black, 27px, 30px, 700);
  text-align: center;

  @media (min-width: @tablet-width) {
    .size-line(43px, 50px);
  }

  @media (min-width: @desktop-width) {
    .size-line(53px, 57px);
  }
}

.products__list {
  .list-reset();
  min-width: 320px;

  @media (min-width: @tablet-width) {
    display: flex;
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    max-width: @desktop-width;
  }
}

.products__item {
  @media (min-width: @tablet-width) {
    flex-basis: 50%;
  }
}

.products__link {
  display: block;
  .font(#fff, 19px, 24px, 700);
  text-decoration: none;
  height: 100%;

  &:hover .products__icon-shape {
    opacity: 0.7;
  }

  &:active .products__icon-shape {
    opacity: 0.3;
  }
}

.products__link-wrapper {
  .push-auto();
  display: flex;
  justify-content: space-between;
  padding: 23px 30px 18px 30px;
  max-width: 450px;

  @media (min-width: @tablet-width) {
    padding: 25px 33px 27px 36px;

  }
}

.products__link-text {
  flex-basis: 40%;
  max-width: 210px;
}

.products__link--interior {
  background-color: @accent;

  &:hover {
    background-color: @accent-hover;
  }

  &:active {
    background-color: @accent-hover;
  }
}

.products__link--toys {
  background-color: @accent-dark;

  &:hover {
    background-color: @accent-dark-hover;
  }

  &:active {
    background-color: @accent-dark-hover;
  }
}
