.products__title {
  .font(@title-black, 27px, 30px, 700);
  text-align: center;
}

.products__list {
  .list-reset();
  min-width: 320px;

  @media (min-width: @tablet-width) {
    display: flex;
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    max-width: @desktop-width;
  }
}

.products__item {
  @media (min-width: @tablet-width) {
    flex-grow: 1;
  }
}

.products__link {
  display: block;
  .font(#fff, 19px, 24px, 700);
  text-decoration: none;
}

.products__link--interior {
  background-color: @accent;

  &:hover {
    background-color: @accent-hover;
  }

  &:active {
    background-color: @accent-hover;
  }
}

.products__link--toys {
  background-color: @accent-dark;

  &:hover {
    background-color: @accent-dark-hover;
  }

  &:active {
    background-color: @accent-dark-hover;
  }
}
