.production {
  border: 1px solid @menu-shadow;
  margin-bottom: 58px;
}

.production__title-wrapper {
  padding-top: 21px;
  padding-left: 33px;
  margin-bottom: 26px;
  display: flex;
  align-items: center;
}

.production__icon {
  width: 32px;
  height: 22px;
  margin-right: 25px;
}

.production__title {
  margin: 0;

  .font(@title-black, 17px, 24px, 700);
}

.production__info {
  padding-bottom: 32px;
}

.production__description {
  margin: 35px 0 41px 33px;
  .font(@basic-grey, 13px, 24px, 400);
}

.production__button {
  padding: 16px 0;
  margin: 0 34px 0 34px;
  line-height: 16px;

  @media @tablet {
    font-size: 17px;
  }
}
