.products {
  position: relative;
  margin-bottom: 31px;

  @media @tablet {
    margin-bottom: 52px;
    background: @bg-grey-light url("../img/hero-tablet.jpg") no-repeat center bottom;

    &::before {
      .pseudo();
      height: 24px;
      left: 0;
      right: 0;
      bottom: -12px;
      background: url("../img/zigzag-fill-tablet.svg") repeat-x;
    }
  }

  @media @desktop {
    margin-bottom: 60px;
    background: @bg-grey-light url("../img/hero-desktop.jpg") no-repeat center bottom;

    &::before {
      .pseudo();
      height: 34px;
      left: 0;
      right: 0;
      bottom: -16px;
      background: url("../img/zigzag-fill-desktop.svg") repeat-x;
    }
  }
}

.products__wrapper {
  padding-top: 70px;
  padding-bottom: 120px;
  background: @bg-grey-light url("../img/hero-mobile.jpg") no-repeat center -20px;

  @media @tablet {
    background: none;
    padding-top: 112px;
    padding-bottom: 371px;
  }

  @media @desktop {
    padding-bottom: 357px;
  }
}

.products__title {
  margin: 0 auto;
  min-height: 90px;
  .font(@title-black, 27px, 30px, 700);
  text-align: center;

  @media @tablet {
    .size-line(43px, 50px);
  }

  @media @desktop {
    .size-line(53px, 57px);
  }
}

.products__list {
  .list-reset();
  min-width: 320px;

  @media @tablet {
    display: flex;
    padding: 0 50px;
  }

  @media @desktop {
    margin: 0 auto;
    max-width: @desktop-width;
  }
}

.products__item {
  @media @tablet {
    flex-basis: 50%;
  }

  &:last-child {
    @media @mobile {
      box-shadow: 0 4px 4px @black-25;
    }
  }
}

.products__link {
  display: block;
  .font(@font-light, 19px, 24px, 700);
  text-decoration: none;
  height: 100%;

  @media @tablet {
    .size-line(20px, 30px);
  }

  &:hover .products__icon-shape {
    opacity: 0.7;
  }

  &:active .products__icon-shape {
    opacity: 0.3;
  }
}

.products__link-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 22px 36px 20px 30px;

  @media @tablet {
    padding: 27px 33px 30px 36px;
  }
}

.products__link--toys .products__link-wrapper {
  padding-right: 28px;

  @media @tablet {
    padding-right: 34px;
  }
}

.products__link-text {
  max-width: 175px;
}

.products__link--interior {
  background-color: @accent;

  &:hover {
    background-color: @accent-hover;
  }

  &:active {
    background-color: @accent-hover;
  }
}

.products__link--toys {
  background-color: @accent-dark;

  &:hover {
    background-color: @accent-dark-hover;
  }

  &:active {
    background-color: @accent-dark-hover;
  }
}
