.promo__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 62px repeat(5, 1fr);
  }
}

.promo__title {
  margin: 0;
  .font(@title-black, 25px, 30px, 700);

  @media (min-width: @tablet-width) {
    grid-column: ~"1 / 4";
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"2 / 6";
    grid-row: ~"2 / 3";
    z-index: 2;
    font-size: 53px;
    line-height: 57px;
  }
}

.promo__time {
  .font (@accent, 17px, 20px, 700);
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    grid-row: ~"2 / 3";
  }
}

.promo__text {
  margin: 0;
  .font(@basic-grey, 15px, 24px, 400);

  @media (min-width: @tablet-width) {
    grid-column: ~"1 / 3";
  }

  @media (min-width: @desktop-width) {
    grid-area: ~"3 / 2 / 4 / 4";
    padding-right: 86px;
  }
}

.promo__info {
  @media (min-width: @tablet-width) {
    grid-column: ~"1 / 3";
  }

  @media (min-width: @desktop-width) {
    grid-area: ~"4 / 2 / 5 / 4";
  }
}

.promo__info-item {
  .font(@basic-grey, 15px, 20px, 400);
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid @menu-shadow;

  @media (min-width: @tablet-width) {
  margin-right: 50px;
  }
}

.promo__info-parameter {
  flex-basis: 100px;
}

.promo__info-description {
  margin: 0;
}

.promo__picture {
  @media (min-width: @tablet-width) {
    grid-area: ~"2 / 3 / -1 / -1";
    min-width: 334px;
    min-height: 404px;
  }

  @media (min-width: @desktop-width) {
    grid-area: ~"1 / 4 / -1 / -1";
    width: 525px;
    height: 636px;
  }
}

.promo__img {
  // width: 100%;
  // object-fit: cover;

  @media (min-width: @tablet-width) {
    width: 334px;
    height: 404px;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
    height: 636px;
  }
}

.promo__price {
  .font(@basic-grey, 17px, 24px, 700);

  @media (min-width: @tablet-width) {
    grid-column: ~"1 / 3";
  }

  @media (min-width: @desktop-width) {
    grid-area: ~"5 / 2 / 6 / 4";
  }
}

.promo__button {
  max-width: 292px;

  @media (min-width: @tablet-width) {
    grid-column: ~"1 / 3";
  }

  @media (min-width: @desktop-width) {
    grid-area: ~"6 / 2 / 7 / 3";
  }
}
