.reviews__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, min-content);
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.reviews__title {
  margin: 0;
  .font(@title-black, 25px, 30px, 700);

  @media (min-width: @tablet-width) {
    grid-area: ~"1 / 1 / 2 / 3";
    align-self: center;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.reviews__list {
  .list-reset();

  @media (min-width: @tablet-width) {
    grid-area: ~"2 / 1 / 4 / 5"
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: -1;
  }
}

.slider__item--2,
.slider__item--3 {
  display: none;
}

.reviews__citation {
  margin: 0;
}

.reviews__text {
  margin: 0;
  .font(@basic-grey, 15px, 30px, 400);
}

.reviews__author-name {
  display: block;
  max-width: 480px;
  .font(@title-black, 17px, 24px, 700);
  font-style: normal;
}

.reviews__author-source {
  display: block;
  max-width: 480px;
  .font(@basic-grey, 17px, 30px, 400);
  font-style: normal;
}

.slider__buttons {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    grid-column-start: 4;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: -1;
    padding-left: 10px;
  }
}

.slider__toggle {
  flex-basis: 50%;
  min-height: 52px;
  background-color: transparent;
  border: 1px solid @menu-shadow;
  text-align: center;
}

.slider__toggle--previous {
  background: url(../../img/huge-arrow-left.svg) no-repeat center center;
}

.slider__toggle--next {
  background: url(../../img/huge-arrow-right.svg) no-repeat center center;
}

.reviews__write-review {
  @media (min-width: @tablet-width) {
    grid-area: ~"1 / 3 /2 /5";
    justify-self: end;
    min-width: 175px;
  }
}
