.reviews__title {
  .font(@title-black, 25px, 30px, 700);
}

.reviews__list {
  .list-reset();
}

.reviews__citation {
  margin: 0;
}

.reviews__text {
  .font(@basic-grey, 15px, 30px, 400);
}

.reviews__author-name {
  .font(@title-black, 17px, 24px, 700);
  font-style: normal;
}

.reviews__author-source {
  .font(@basic-grey, 17px, 30px, 400);
  font-style: normal;
}
