.social {
  .list-reset();
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  margin-right: 40px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__icon {
  fill: @elem-black;

  &:hover {
    fill: @accent-dark-hover;
  }

  &:active {
    fill: fade(@accent-dark-hover, 30%);
  }
}
