.video {
  position: relative;
  min-width: 260px;
  min-height: 150px;

  @media @tablet {
    min-width: 668px;
    min-height: 455px;
  }

  @media @desktop {
    width: 683px;
    height: 455px;
  }
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video__media {
  display: block;
  background-color: @bg-grey;
  width: 100%;
  height: auto;
  object-fit: cover;
}
