// colors

@basic-grey: #444444;
@bg-grey: #F1F1F1;
@bg-grey-light: #F9F9F9;
@bg-menu: #FFFFFF;
@button-hover: #FFFFFF;
@font-light: #FFFFFF;
@border-grey: #E5E5E5;

@elem-black: #000000;
@title-black: #000000;
@link-black: #000000;
@form-black: #000000;
@catalog-black: #000000;

@black-60: rgba(0, 0, 0, 0.6);
@black-30: rgba(0, 0, 0, 0.3);
@black-25: rgba(0, 0, 0, 0.25);
@white-30: rgba(255, 255, 255, 0.3);

@accent: #63D1BB;
@accent-hover: #59D5BC;
@accent-dark: #56C3B2;
@accent-dark-hover: #46C1AE;
@accent-icons: #149080;
@accent-email: #62D1BA;
@accent-input: #62D1BA;

@menu-shadow: #ECECEC;

// viewports

@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1150px;
@mobile: ~"(max-width: 767px)";
@tablet: ~"(min-width: 768px)";
@desktop: ~"(min-width: 1150px)";
